*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin:0;
    background:white;
}

.container {
    background: #1F2937;
}

.header {
    color:#F9FAF8;
    display:flex;
    align-items: center;
    padding:10px;
    flex-shrink: 1;
}

.header > .logo {
    font-size: 24px;
    color:#F9FAF8;
    margin-right: auto;
}

.header > div{
    margin:15px;
    padding:15px;
}

.hero {
    color: white;   
    display:flex;
    padding:50px 50px;
}

.hero .herotext {
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.herosecondtext {
    font-size:24px;
    color:#F9FAF8;
    max-width:100%;
}

.signup {
    background:#3882F6;
    margin:15px;
    border-radius: 25px ;
    padding:10px;
}

.img{
    height: 200px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.informations {
    padding: 50px;
    font-size:36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.boxes > div {
    border : 1px solid blue;
    border-radius: 25px;
    padding:10px;
    margin:15px;
    width:100px;
    height:100px;
    justify-content: space-around;
}

.quote {
    background : #E5E7EB;
    font-weight: 36px;
    font-style: italic;
    padding : 50px 50px;
}

.quote p {
    font-style: normal;
    font-weight: bolder;
    text-align: right;
}

.action {
    display: flex;
    background: white;
    border : 10px solid #3882F6;
    background-color: #3882F6;
    color: white;    
    margin:50px;
    border-radius: 25px ;
}

.action .boutton {
    border:1px solid white;
    border-radius: 25px ;
    background : #3882F6;
    padding: 10px;
    margin : 20px;
}

.action .ligne  {

    font-style: italic;
}

.copyright {
    text-align: center;
    background-color: #1F2937;
    color: white;
    padding : 25px 25px;
}